<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Chat 1</div>
                    <div class="card-body" id="chat_area">
                        <div>
                            <textarea class="chat-textarea-get" id="all_chat_messages" placeholder="Enter message">{{ messages.join('\n') }} </textarea>
                            <!--<textarea class="chat-textarea-send" id="all_chat_messages" placeholder="Enter message">{{ user_id.user.email }}: {{ user_id.text }} </textarea>-->
                            <!--<div v-bind:class="classTexareaGet(user_id.user_id)">{{ user_id.text }}</div>-->
                        </div>
                    </div>
                    <div>
                        <textarea class="chat-textarea-send" id="chat_message" placeholder="Enter message"></textarea>
                    </div>
                    <div class="chat-button-send">
                        <button v-on:click="sendChatMessage" v-if="!is_sending">Send message</button>
                        <span v-if="is_sending">... please wait ...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                messages: [],
                is_sending: false,
                this_user_id: '',
            }
        },
        beforeCreate() {
            //set this user id
            axios.get('/get-user-id').then((response) => {
                this.this_user_id = response.data.user_id;
            });
        },
        mounted() {
            //turn on SendChatMessage listener
            window.Echo.channel('chat1Channel')
                .listen('SendChat1Message', (e) => {
                    console.log(e.user.email, e.message);
                    console.log(this.user_id, e.user.id);
                    //add message to chat
                    if (this.this_user_id == e.user.id) {
                        this.messages.push('May message: ' + e.message);
                    } else {
                        this.messages.push(e.user.email + ': ' + e.message);
                    }
                    this.scrollTextarea();
                });
            this.loadChatMessages();
            this.scrollTextarea();
            console.log('Component mounted.')
        },
        methods: {
            loadChatMessages: function () {
                //get all chat messages
                axios.get('/get-chat1-messages').then((response) => {
                    this.messages = response.data;
                });
            },
            sendChatMessage: function () {
                var chat_message = $('#chat_message');
                //check if textarea is empty or with space symb only
                if ($.trim(chat_message.val())) {
                    this.is_sending = true;
                    //send new chat message
                    axios.post('/send-chat1-message', {message: chat_message.val()}).then((response) => {
                        chat_message.val('');
                        this.user_id = response.data.user_id;
                        console.log(response);
                        console.log(response.data.user_id);
                        this.is_sending = false;
                    }).catch((error) => {
                        console.log(error.response.data)
                    });
                } else {
                    alert("Please, enter the message")
                }
            },
            classTexareaGet: function (user_id) {
                return {
                    'chat-textarea-get-own': this.this_user_id == user_id,
                    'chat-textarea-get':this.this_user_id != user_id
                }
            },
            scrollTextarea() {
                var container = this.$el.querySelector("#all_chat_messages");
                container.scrollTop = container.scrollHeight;
            }
        },
    }
</script>
<style>
    .chat-textarea-get {
        background: #b8c3cb;
        width: 100%;
        height: 450px;
        padding-bottom: 25px;
    }
    .chat-textarea-send {
        background: #e0ecf5;
        width: 100%;
    }
    .chat-button-send {
        text-align: center;
    }
</style>