<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Send and show data ajax component</div>
                    <button v-on:click="someUpdate" v-if="!is_refreshing">Refresh {{ i }} times</button>
                    <span v-if="is_refreshing">... please wait ...</span>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Url</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="url in dataFromController">
                                    <td>{{ url.title}}</td>
                                    <td>{{ url.url}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                dataFromController: [],
                is_refreshing: false,
                i: 0
            }
        },
        mounted() {
            this.someUpdate();
            console.log('Component mounted.')
        },
        methods: {
            someUpdate: function () {
                this.is_refreshing = true;
                axios.get('/send-data-ajax').then((response) => {
                    console.log(response);
                    this.dataFromController = response.data;
                    this.is_refreshing = false;
                    this.i++;
                });
            }
        }
    }
</script>
