<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Send and show data component</div>

                    <div class="card-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Url</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="url in dataFromController">
                                    <td>{{ url.title}}</td>
                                    <td>{{ url.url}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'dataFromController'
        ],
        mounted() {
            this.someUpdate();
            console.log('Component mounted.')
        },
        methods: {
            someUpdate: function () {
                console.log(this.dataFromController)
            }
        }
    }
</script>
